@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.secondary-light {
  color: #F3E3ED;
}

.secondary-normal {
  color: #D1E9E4;
}

.white-light {
  color: #F8F8FA;
}

.white-darken {
  color: #FAF8F5;
}

.color-white-dark {
  color: #EBE7E1;
}

.color-white {
  color: #F3E3ED;
}

.gray-1 {
  color: #1A1A1A;
}

.color-white-dark {
  color: #EBE7E1;
}

.color-black {
  color: #262626;
}

.color-primary {
  color: #661C65;
}

.black-dark {
  color: #1D1D1D;
}

.black-light {
  color: #262626;
}

.black-lighten {
  color: #2F3329;
}

.gray-4 {
  color: #121212;
}

.gray-5 {
  color: #B0B0B0;
}

.color-gradient {
  display: inline-block;
  background: linear-gradient(224.78deg, #661C65 8.12%, #0D0D0C 92.21%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-gradient {
  display: inline-block;
  background: linear-gradient(224.78deg, #661C65 8.12%, #0D0D0C 92.21%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-gradient-tipo {
  display: inline-block;
  background: linear-gradient(91deg, #6211B4 0.95%, #25084C 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-1 {
  width: calc(8.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-1 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-2 {
  width: calc(16.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-2 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-3 {
  width: calc(25% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-3 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-4 {
  width: calc(33.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-4 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-5 {
  width: calc(41.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-5 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-6 {
  width: calc(50% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-6 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-7 {
  width: calc(58.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-7 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-8 {
  width: calc(66.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-8 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-9 {
  width: calc(75% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-9 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-10 {
  width: calc(83.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-10 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-11 {
  width: calc(91.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-11 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-12 {
  width: calc(100% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}
@media screen and (max-width: 960px) {
  .grid-12 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-nobreak-1 {
  width: calc(8.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-2 {
  width: calc(16.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-3 {
  width: calc(25% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-4 {
  width: calc(33.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-5 {
  width: calc(41.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-6 {
  width: calc(50% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-7 {
  width: calc(58.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-8 {
  width: calc(66.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-9 {
  width: calc(75% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-10 {
  width: calc(83.3333333333% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-11 {
  width: calc(91.6666666667% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.grid-nobreak-12 {
  width: calc(100% - 32px);
  margin: 16px;
  padding: 16px 0px;
  float: left;
}

.container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 128px 24px;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;*/
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 96px 16px;
  }
}

@media screen and (max-width: 960px) {
  .disappear {
    display: none;
  }
}

.hidden {
  overflow: hidden;
}

.zindex-1 {
  z-index: -1;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.h-100 {
  height: 100vh;
}

.h-100p {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-start-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flex-end-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.flex-start-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.float-left {
  float: left;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto !important;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.h-card {
  height: 470px;
  width: 350px;
}

.espiral {
  width: 100%;
  min-height: 420px;
  transform: scale(1);
}
@media screen and (max-width: 960px) {
  .espiral {
    width: 140%;
    height: 100%;
    min-height: 400px;
    transform: scale(0.8) translate(-18%, 0%);
    z-index: -1;
  }
}

.perspective {
  perspective: 600;
}

.container-cta-footer {
  border: 1px solid red;
  position: relative;
  padding: 120px 0px;
}
.container-cta-footer::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: red;
  transform: skewX(-10deg);
  z-index: -1;
}

.h0 {
  font-family: "Prompt", poppins;
  font-size: 80px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 20px;
}
@media screen and (max-width: 960px) {
  .h0 {
    font-family: "Prompt", poppins;
    font-size: 40px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 340px) {
  .h0 {
    font-family: "Prompt", poppins;
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: 8px;
  }
}

.h1-card {
  font-family: "Prompt", poppins;
  font-family: "assistant", sans-serif;
  font-size: 72px;
  line-height: 120%;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .h1-card {
    font-family: "Prompt", poppins;
    font-size: 52px;
    line-height: 110%;
    font-weight: 400;
  }
}
@media screen and (max-width: 340px) {
  .h1-card {
    font-family: "Prompt", poppins;
  }
}

.h1-home {
  font-weight: 600;
  font-family: "Prompt", poppins;
  font-size: 72px;
  line-height: 120%;
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .h1-home {
    font-family: "Prompt", poppins;
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;
  }
}
@media screen and (max-width: 340px) {
  .h1-home {
    font-family: "Prompt", poppins;
  }
}

.h1 {
  color: #FAF8F5;
  z-index: 5;
  font-family: "Prompt", poppins;
  font-size: 72px;
  line-height: 110%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .h1 {
    font-family: "Prompt", poppins;
    font-size: 52px;
    line-height: 110%;
    font-weight: 400;
  }
}
@media screen and (max-width: 340px) {
  .h1 {
    font-family: "Prompt", poppins;
    font-size: 48px;
    line-height: 120%;
    font-weight: 400;
  }
}

.h2 {
  font-family: "Prompt", poppins;
  font-size: 64px;
  line-height: 110%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .h2 {
    font-family: "Prompt", poppins;
    font-size: 40px;
    line-height: 120%;
    font-weight: 400;
  }
}
@media screen and (max-width: 340px) {
  .h2 {
    font-family: "Prompt", poppins;
    font-size: 36px;
    line-height: 120%;
    font-weight: 400;
  }
}

h3 {
  color: #1D1D1D;
  font-family: "Prompt", poppins;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Prompt", poppins;
    font-size: 32px;
    line-height: 120%;
    font-weight: 400;
  }
}
@media screen and (max-width: 340px) {
  h3 {
    font-family: "Prompt", poppins;
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
  }
}

.h4 {
  font-weight: 600;
  font-family: "Prompt", poppins;
  font-size: 32px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  .h4 {
    font-family: "Prompt", poppins;
    font-size: 28px;
    line-height: 130%;
  }
}
@media screen and (max-width: 340px) {
  .h4 {
    font-family: "Prompt", poppins;
    font-size: 20px;
    line-height: 140%;
  }
}

h5 {
  color: #262626;
  font-family: "Prompt", poppins;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Prompt", poppins;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
}

h6 {
  color: #262626;
  font-family: "Prompt", poppins;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
}
@media screen and (max-width: 960px) {
  h6 {
    font-family: "Prompt", poppins;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
  }
}

.h7 {
  font-family: "Prompt", poppins;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .h7 {
    font-family: "Prompt", poppins;
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
  }
}

p {
  letter-spacing: 0px;
  color: #9EA0A3;
  font-family: "assistant", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "assistant", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}
@media screen and (max-width: 340px) {
  p {
    font-family: "assistant", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
  }
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.p1 {
  font-family: "assistant", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .p1 {
    font-family: "assistant", sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
  }
}
@media screen and (max-width: 340px) {
  .p1 {
    font-family: "assistant", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}

.p1-home {
  position: absolute;
  margin-bottom: 0px;
}
.p1-home::after {
  margin-top: 0;
  display: block;
  content: "";
  position: absolute;
  top: -55px;
  right: 10px;
  transform: rotate(90deg);
  width: 7px;
  height: 210px;
}
@media screen and (max-width: 960px) {
  .p1-home::after {
    height: 170px;
    margin-top: 10px;
    right: 120px;
  }
}

.p2 {
  font-family: "assistant", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .p2 {
    font-family: "assistant", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}

.p3 {
  font-family: "assistant", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .p3 {
    font-family: "assistant", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}

.p4 {
  font-family: "assistant", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .p4 {
    font-family: "assistant", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
}

.p5 {
  font-family: "assistant", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .p5 {
    font-family: "assistant", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
}

.pbtn {
  font-family: "assistant", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  font-weight: 800;
  color: #EBE7E1;
}
@media screen and (max-width: 960px) {
  .pbtn {
    font-family: "assistant", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
}

.p-title {
  font-size: 38px;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .p-title {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
  color: #262626;
}

span {
  display: inline-block;
}

.letter-h1 {
  color: #262626;
  letter-spacing: 1px;
  text-transform: none;
  font-family: "Prompt", poppins;
  font-size: 72px;
  line-height: 110%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .letter-h1 {
    font-family: "Prompt", poppins;
    font-size: 52px;
    line-height: 110%;
    font-weight: 400;
  }
}

strong {
  color: #262626;
  font-family: "assistant", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "assistant", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}

b {
  color: #353536;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.h-xl {
  color: #262626;
  font-family: "Prompt", poppins;
  font-size: 80px;
  line-height: 120%;
  font-weight: 400;
  font-size: 240px;
}
@media screen and (max-width: 960px) {
  .h-xl {
    font-family: "Prompt", poppins;
    font-size: 40px;
    line-height: 120%;
    font-weight: 400;
    font-size: 144px;
  }
}

.h-l {
  color: #262626;
  font-family: "Prompt", poppins;
  font-size: 80px;
  line-height: 120%;
  font-weight: 400;
  font-size: 144px;
}
@media screen and (max-width: 960px) {
  .h-l {
    font-family: "Prompt", poppins;
    font-size: 40px;
    line-height: 120%;
    font-weight: 400;
    font-size: 96px;
  }
}

.hbig {
  font-family: "Prompt", poppins;
  font-size: 80px;
  line-height: 120%;
  font-weight: 400;
}
@media screen and (max-width: 960px) {
  .hbig {
    font-family: "Prompt", poppins;
    font-size: 56px;
    line-height: 120%;
    font-weight: 400;
  }
}

.h1-number {
  font-family: "assistant", sans-serif;
  font-size: 160px;
  font-weight: 200;
}
@media screen and (max-width: 960px) {
  .h1-number {
    font-weight: 200 !important;
    font-family: "Prompt", poppins;
    font-size: 56px;
    line-height: 120%;
    font-weight: 400;
  }
}

.btn-conta {
  color: #F8F8FA;
  background: transparent;
  padding: 12px 24px;
  border: 2px solid #F8F8FA;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease;
  text-decoration: none;
  font-family: "Prompt", poppins;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .btn-conta {
    font-family: "Prompt", poppins;
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
  }
}
.btn-conta:hover {
  padding: 14px 26px;
}

.btn-secondary {
  opacity: 100%;
  background: linear-gradient(91deg, #661C65 2.12%, #E32AE0 98.96%);
  padding: 12px 24px;
  color: #F8F8FA;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease;
  text-decoration: none;
  font-family: "Prompt", poppins;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  .btn-secondary {
    font-family: "Prompt", poppins;
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
  }
}
.btn-secondary:hover {
  color: #F8F8FA;
  opacity: 100%;
  border: none;
  padding: 14px 26px;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.mt-110 {
  margin-top: 110px;
}
@media screen and (max-width: 960px) {
  .mt-110 {
    margin-top: 0px;
  }
}

.mt-80 {
  margin-top: 88px;
}
@media screen and (max-width: 960px) {
  .mt-80 {
    margin-top: 64px;
  }
}

.ml-40 {
  margin-left: 40px;
}
@media screen and (max-width: 960px) {
  .ml-40 {
    margin-left: 4px;
  }
}

.space-220 {
  padding: 220px 24px;
}
@media screen and (max-width: 960px) {
  .space-220 {
    padding: 96px 16px;
  }
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 48px !important;
}

.m-6 {
  margin: 64px !important;
}

.m-7 {
  margin: 72px !important;
}

.m-8 {
  margin: 96px !important;
}

.m-9 {
  margin: 128px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mt-6 {
  margin-top: 64px !important;
}

.mt-7 {
  margin-top: 72px !important;
}

.mt-8 {
  margin-top: 96px !important;
}

.mt-9 {
  margin-top: 128px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.ml-6 {
  margin-left: 64px !important;
}

.ml-7 {
  margin-left: 72px !important;
}

.ml-8 {
  margin-left: 96px !important;
}

.ml-9 {
  margin-left: 128px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.mr-6 {
  margin-right: 64px !important;
}

.mr-7 {
  margin-right: 72px !important;
}

.mr-8 {
  margin-right: 96px !important;
}

.mr-9 {
  margin-right: 128px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.mb-6 {
  margin-bottom: 64px !important;
}

.mb-7 {
  margin-bottom: 72px !important;
}

.mb-8 {
  margin-bottom: 96px !important;
}

.mb-9 {
  margin-bottom: 128px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-6 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-7 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-8 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-9 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-6 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-7 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-8 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-9 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 48px !important;
}

.p-6 {
  padding: 64px !important;
}

.p-7 {
  padding: 72px !important;
}

.p-8 {
  padding: 96px !important;
}

.p-9 {
  padding: 128px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pt-6 {
  padding-top: 64px !important;
}

.pt-7 {
  padding-top: 72px !important;
}

.pt-8 {
  padding-top: 96px !important;
}

.pt-9 {
  padding-top: 128px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pl-6 {
  padding-left: 64px !important;
}

.pl-7 {
  padding-left: 72px !important;
}

.pl-8 {
  padding-left: 96px !important;
}

.pl-9 {
  padding-left: 128px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.pr-6 {
  padding-right: 64px !important;
}

.pr-7 {
  padding-right: 72px !important;
}

.pr-8 {
  padding-right: 96px !important;
}

.pr-9 {
  padding-right: 128px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pb-6 {
  padding-bottom: 64px !important;
}

.pb-7 {
  padding-bottom: 72px !important;
}

.pb-8 {
  padding-bottom: 96px !important;
}

.pb-9 {
  padding-bottom: 128px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-6 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-7 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-8 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-9 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-6 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-7 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-8 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-9 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

svg, img {
  display: block;
  width: 100%;
  margin: 0;
}

.icon {
  max-width: 64px;
  transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
  .icon {
    max-width: 56px;
  }
}
.icon:hover {
  transform: translate(0, -4px, 0);
}

.icon-s {
  max-width: 40px;
  transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
  .icon-s {
    max-width: 32px;
  }
}
.icon-s:hover {
  transform: translate(0, -4px, 0);
}

.icon-xs {
  max-width: 24px;
  transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
  .icon-xs {
    max-width: 24px;
  }
}
.icon-xs:hover {
  transform: translate(0, -4px, 0);
}

.icon-m {
  max-width: 96px;
  transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
  .icon-m {
    max-width: 80px;
  }
}

.icon-l {
  max-width: 120px;
  transition: 0.5s ease;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .icon-l {
    max-width: 96px;
  }
}
@media screen and (max-width: 960px) {
  .icon-l {
    display: none;
  }
}

.icon-xl {
  max-width: 172px;
  transition: 0.5s ease;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .icon-xl {
    max-width: 150px;
  }
}
@media screen and (max-width: 960px) {
  .icon-xl {
    max-width: 126px;
  }
}

.icon-xxl {
  max-width: 220px;
  transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
  .icon-xxl {
    max-width: 180px;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #151515;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff007f;
  width: 8px;
  border-radius: 8px;
}

ul, li, a {
  list-style: none; /* Remove os marcadores */
  padding: 0; /* Remove o espaçamento interno */
  margin: 0; /* Remove margens externas */
}

header {
  width: 100%;
  height: 80px;
  padding: 6px 18px;
  transition: 1s ease;
  top: 0;
  z-index: 990;
  opacity: 1;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backgroud-home {
  background-image: url(/img/backgrouds/backgroudhome.webp);
  min-height: 1000px;
  max-height: 1080px;
  padding-top: 20px;
}

.backgroud-home img {
  overflow: hidden;
}

.cometa::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  transform: translateY(-50%);
  top: 200%;
  left: 100px;
  border-radius: 2px;
}
@media screen and (max-width: 960px) {
  .cometa::after {
    top: 300%;
    left: 40px;
    width: 300px;
  }
}

.backgroud-prod {
  min-height: 1000px;
  max-height: 1050px;
  padding-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: radial-gradient(circle, #b0005a, #ff007f, #50003a, #0a0714, #050217);
  transition: background-image 1s ease-in-out;
}

.backgroud-card {
  background: #121212;
  background-size: cover;
  min-height: 1000px;
  max-height: 1080px;
  padding-top: 20px;
}

.backgroud-user {
  background-color: #F8F8FA;
  min-height: auto;
  padding-top: 20px;
}

.backgroud-app {
  background-color: #F8F8FA;
  min-height: 1000px;
  max-height: 1080px;
  padding-top: 10px;
}
@media screen and (max-width: 960px) {
  .backgroud-app {
    min-height: -moz-max-content;
    min-height: max-content;
  }
}

.phone {
  overflow: hidden;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .phone {
    width: 400px;
    height: 500px;
  }
}
@media screen and (max-width: 960px) {
  .phone {
    width: 330px;
    height: 450px;
  }
}

.backgroud-desktop {
  background-color: #121212;
  min-height: 1000px;
  max-height: 1080px;
  padding-top: 10px;
}

.desktop {
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .desktop {
    width: 330px;
    height: 450px;
  }
}

.backgroud-footer {
  background: #121212;
  min-height: 600px;
  padding-top: 10px;
}

.swiper1 {
  width: 1000px;
  height: 350px;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .swiper1 {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .swiper1 {
    width: 95%;
  }
}

.swiper2 {
  height: 600px;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .swiper2 {
    width: 95%;
  }
}
@media screen and (max-width: 960px) {
  .swiper2 {
    width: 80%;
    margin-left: 20px;
  }
}

.card-img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  display: block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.card-img:hover {
  transform: scale(1.12);
}

.slide-card {
  width: 300px;
  height: 470px;
  background: #1A1A1A;
  border-radius: 8px;
}

.card-beneficios {
  width: 100%;
  height: 250px !important;
  background: #FAF8F5;
  border-radius: 8px;
  padding: 24px;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .card-beneficios {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .card-beneficios {
    width: 100%;
    margin-right: 15px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: transparent;
  --swiper-navigation-top-offset: 90%;
  --swiper-navigation-size: 50px;
  --swiper-navigation-sides-offset: 400px;
  border: none;
}
@media screen and (max-width: 1268px) and (min-width: 620px) {
  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-sides-offset: 200px;
  }
}
@media screen and (max-width: 960px) {
  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-sides-offset: 100px;
  }
}
@media screen and (max-width: 340px) {
  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-top-offset: 80%;
  }
}

.swiper-button-prev::after {
  content: url(/img/icons/setaEsq.png) !important;
}
@media screen and (max-width: 340px) {
  .swiper-button-prev::after {
    display: none;
  }
}

.swiper-button-next::after {
  content: url(/img/icons/setaDir.png) !important;
}
@media screen and (max-width: 340px) {
  .swiper-button-next::after {
    display: none;
  }
}

.fig2-circle1 {
  animation: loopcircle 7s ease 0s infinite alternate;
  transform-origin: center center;
  transform-box: fill-box;
}

.fig2-circle2 {
  animation: loopcircle 7s ease 0.3s infinite alternate;
  transform-origin: center center;
  transform-box: fill-box;
}

.fig2-circle3 {
  animation: loopcircle 7s ease 0.6s infinite alternate;
  transform-origin: center center;
  transform-box: fill-box;
}

.fig2-circle4 {
  animation: loopcircle 7s ease 0.9s infinite alternate;
  transform-origin: center center;
  transform-box: fill-box;
}

.fig2-circle5 {
  animation: loopcircle 7s ease 1.2s infinite alternate;
  transform-origin: center center;
  transform-box: fill-box;
}/*# sourceMappingURL=style.css.map */